<app-category></app-category>

<h4 *ngIf="products.length > 0; else:noProduct"></h4>
<div class="mb-3">
  <input class="form-control" id="productName" [(ngModel)]="filterText">
  <div class="form-text" *ngIf="filterText">
    Şuan {{filterText}} bunu arıyorsunuz.
  </div>
</div>
<ng-template #noProduct>
  <div class="alert alert-danger" role="alert">
    Bu kategoride ürün yoktur.
  </div>
</ng-template>

<div class="card-group">
  <div *ngFor="let product of products | productFilter:filterText" class="card">
    <img [src]="product.imageUrl" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">{{product.description}}</p>
      <p class="card-text" style="font-weight: bold;">Price : {{product.price | currency : 'USD':'symbol':'1.2-2'}}</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a class="btn btn-primary" (click)="addToCart(product)">Ekle</a>
    </div>
  </div>
</div>
